# Importing Libraries

In [1]:
%cd ..

c:\Users\lowmi\OneDrive\Desktop\Uni\DSA4262\DSA4262-ACMXZ\pipeline

In [2]:
import pandas as pd
import numpy as np

from preprocessing import Preprocessing
from utilities import get_percent

# Importing Data

In [3]:
%cd ../data/merged_data

c:\Users\lowmi\OneDrive\Desktop\Uni\DSA4262\DSA4262-ACMXZ\data\merged_data

In [4]:
data_1 = pd.read_parquet('merged_data_1.parquet', engine='pyarrow')
data_2 = pd.read_parquet('merged_data_2.parquet', engine='pyarrow')
data_3 = pd.read_parquet('merged_data_3.parquet', engine='pyarrow')
data_4 = pd.read_parquet('merged_data_4.parquet', engine='pyarrow')
data_5 = pd.read_parquet('merged_data_5.parquet', engine='pyarrow')
data_6 = pd.read_parquet('merged_data_6.parquet', engine='pyarrow')
data_7 = pd.read_parquet('merged_data_7.parquet', engine='pyarrow')

In [5]:
df = pd.concat([data_1, data_2, data_3, data_4, data_5, data_6, data_7], axis = 0)

In [6]:
df

,transcript,position,nucleotides,dwelling_time,std,mean,label
0,ENST00000000233,243,AAGAC,0.00299,2.06,125.0,None
1,ENST00000000233,243,AAGAC,0.00631,2.53,125.0,None
2,ENST00000000233,243,AAGAC,0.00465,3.92,109.0,None
3,ENST00000000233,243,AAGAC,0.00398,2.06,125.0,None
4,ENST00000000233,243,AAGAC,0.00664,2.92,120.0,None
...,...,...,...,...,...,...,...
33081313,ENST00000641834,1694,GACAT,0.01000,2.01,76.4,None
33081314,ENST00000641834,1694,GACAT,0.01760,2.61,74.6,None
33081315,ENST00000641834,1694,GACAT,0.00316,2.28,85.3,None
33081316,ENST00000641834,1694,GACAT,0.00664,4.44,76.8,None
33081317,ENST00000641834,1694,GACAT,0.01930,1.79,76.2,None

In [42]:
df_nucleo = pd.DataFrame(df.groupby(['transcript', 'position', 'nucleotides'])[['dwelling_time', 'std', 'mean']].quantile([0.25, 0.5, 0.75]))#.rename(columns={'nucleotides':'count'}).reset_index()

In [43]:
df_nucleo

                                           dwelling_time     std    mean
transcript      position nucleotides
ENST00000000233 243      AAGAC       0.25       0.004320   3.070  123.00
                                     0.50       0.006970   3.730  125.00
                                     0.75       0.011000   4.660  126.00
                244      AGACC       0.25       0.005400   4.670  124.00
                                     0.50       0.007970   6.650  126.00
...                                                  ...     ...     ...
ENST00000641834 976      TGACA       0.50       0.005640   8.810  114.00
                                     0.75       0.008570  10.150  119.00
                977      GACAG       0.25       0.004775   2.405   80.25
                                     0.50       0.006970   3.070   82.00
                                     0.75       0.011650   3.735   83.10

[1096542 rows x 3 columns]

In [37]:
df_nucleo.sort_values(by=['count'], ascending=False).sort_values(by=['transcript'])

             transcript position nucleotides  count
25      ENST00000000233      471       GAACT    206
36      ENST00000000233      664       TGGAC    205
31      ENST00000000233      571       TGACT    202
30      ENST00000000233      570       CTGAC    202
11      ENST00000000233      333       AACAT    200
...                 ...      ...         ...    ...
365497  ENST00000641834      575       GGACA     66
365496  ENST00000641834      574       GGGAC     66
365495  ENST00000641834      475       GACAC     66
365478  ENST00000641834     1536       CTGAC     57
365461  ENST00000641834     1234       AGACC     75

[365514 rows x 4 columns]

In [38]:
pd.DataFrame(df.groupby(['transcript', 'position'])['position'].count()).rename(columns={'position':'count'}).reset_index().sort_values(by=['count'], ascending=False).sort_values(by=['transcript'])

             transcript position  count
25      ENST00000000233      471    206
36      ENST00000000233      664    205
31      ENST00000000233      571    202
30      ENST00000000233      570    202
11      ENST00000000233      333    200
...                 ...      ...    ...
365497  ENST00000641834      575     66
365496  ENST00000641834      574     66
365495  ENST00000641834      475     66
365478  ENST00000641834     1536     57
365461  ENST00000641834     1234     75

[365514 rows x 3 columns]

In [18]:
df.groupby(['transcript', 'nucleotides'])['nucleotides'].count()

transcript       nucleotides
ENST00000000233  AAACA          185
                 AAACT          172
                 AACAC          192
                 AACAG          185
                 AACAT          200
                               ...
ENST00000641834  GTGAC          138
                 TGACA          192
                 TGACC          254
                 TGGAC          108
                 TTGAC           52
Name: nucleotides, Length: 184031, dtype: int64

# Preprocessing

id_cols = ['transcript', 'position']
<br>
label encoding = ['nucleotides']
<br>
normalization = ['dwelling_time', 'std', 'mean']

In [7]:
df_pre = Preprocessing(df)

In [8]:
df_pre.model_features_and_clean()

,transcript,position,nucleotides,dwelling_time,std,mean,label
185,ENST00000000233,244,AGACC,0.01770,10.40,122.0,0
186,ENST00000000233,244,AGACC,0.00844,4.67,126.0,0
187,ENST00000000233,244,AGACC,0.01360,12.00,124.0,0
188,ENST00000000233,244,AGACC,0.00830,5.01,130.0,0
189,ENST00000000233,244,AGACC,0.00266,3.94,129.0,0
...,...,...,...,...,...,...,...
33081261,ENST00000641834,1693,TGACA,0.00564,10.20,116.0,0
33081262,ENST00000641834,1693,TGACA,0.00598,12.30,110.0,0
33081263,ENST00000641834,1693,TGACA,0.00398,6.58,113.0,0
33081264,ENST00000641834,1693,TGACA,0.00913,10.40,108.0,0
33081265,ENST00000641834,1693,TGACA,0.00303,9.98,118.0,0

In [9]:
df_train, df_test, df_val, X_train, y_train, X_val, y_val, X_test, y_test, df_val_id, list_train = df_pre.split_stratified_into_train_val_test(random_state=42)

c:\Users\lowmi\OneDrive\Desktop\Uni\DSA4262\DSA4262-ACMXZ\pipeline\preprocessing\preprocessing.py:127: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.df_train.drop(columns=id_col, inplace=True)
c:\Users\lowmi\OneDrive\Desktop\Uni\DSA4262\DSA4262-ACMXZ\pipeline\preprocessing\preprocessing.py:129: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.df_test.drop(columns=id_col, inplace=True)
c:\Users\lowmi\OneDrive\Desktop\Uni\DSA4262\DSA4262-ACMXZ\pipeline\preprocessing\preprocessing.py:132: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.df_val.drop(columns=id_col, inplace=True)

train percentage: 0.04460038812988441
test percentage: 0.04977240610420321
val percentage: 0.04631161537250128
train data shape: (8770260, 5)
validation data shape: (1130278, 5)
test data shape: (1126568, 5)

In [10]:
X_train, pipe = df_pre.encoding_train()

c:\Users\lowmi\anaconda3\lib\site-packages\category_encoders\target_encoder.py:122: FutureWarning: Default parameter min_samples_leaf will change in version 2.6.See https://github.com/scikit-learn-contrib/category_encoders/issues/327
  warnings.warn("Default parameter min_samples_leaf will change in version 2.6."
c:\Users\lowmi\anaconda3\lib\site-packages\category_encoders\target_encoder.py:127: FutureWarning: Default parameter smoothing will change in version 2.6.See https://github.com/scikit-learn-contrib/category_encoders/issues/327
  warnings.warn("Default parameter smoothing will change in version 2.6."
c:\Users\lowmi\anaconda3\lib\site-packages\category_encoders\target_encoder.py:122: FutureWarning: Default parameter min_samples_leaf will change in version 2.6.See https://github.com/scikit-learn-contrib/category_encoders/issues/327
  warnings.warn("Default parameter min_samples_leaf will change in version 2.6."
c:\Users\lowmi\anaconda3\lib\site-packages\category_encoders\target_encoder.py:127: FutureWarning: Default parameter smoothing will change in version 2.6.See https://github.com/scikit-learn-contrib/category_encoders/issues/327
  warnings.warn("Default parameter smoothing will change in version 2.6."

columns after preprocessing : ['dwelling_time', 'std', 'mean', 'nucleotides']

In [ ]:
df_exp = X_test.iloc[50, :]